@import 'bootstrap.min.css';@import 'bootstrap-grid.min.css';@import 'animate.css';@import 'ionicons.min.css';@import 'linearicons.css';@import 'animsition.css';@import 'magnific-popup.css';@import 'jquery.pagepiling.css';@import 'owl.carousel.css';
@font-face {
  font-family: 'iconfont';  /* project id 1947418 */
  src: url('//at.alicdn.com/t/font_1947418_sgaxmqlie4o.eot');
  src: url('//at.alicdn.com/t/font_1947418_sgaxmqlie4o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1947418_sgaxmqlie4o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1947418_sgaxmqlie4o.woff') format('woff'),
  url('//at.alicdn.com/t/font_1947418_sgaxmqlie4o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1947418_sgaxmqlie4o.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
html{font-size:12px;-webkit-font-smoothing:antialiased}body{font-family:poppins,sans-serif;font-size:1rem;font-weight:400;letter-spacing:.025em;line-height:1.9428;color:#868686;background:#1b1b1b;-webkit-overflow-scrolling:touch}::-webkit-scrollbar{width:8px;height:8px}::-webkit-scrollbar-thumb{cursor:pointer;background:#ffeb00}::selection{background-color:#ffeb00;color:#fff}-webkit-::selection{background-color:#ffeb00;color:#fff}::-moz-selection{background-color:#ffeb00;color:#fff}h1,.h1{font-family:montserrat,sans-serif;font-size:3.428rem;line-height:1.2;font-weight:600;color:#fff;letter-spacing:-.025em;margin:.5em 0}h2,.h2{font-family:montserrat,sans-serif;font-weight:600;font-size:2.571rem;line-height:1.166;color:#fff;letter-spacing:0;margin:2.6rem 0}h3,.h3{font-family:montserrat,sans-serif;font-weight:600;font-size:2.142rem;line-height:1.2;letter-spacing:-.05em;color:#fff;margin:2.6rem 0}h4,.h4{font-family:montserrat,sans-serif;font-weight:600;font-size:1.714rem;line-height:1.25;letter-spacing:.025em;color:#fff;margin:2.6rem 0}h5,.h5{font-family:montserrat,sans-serif;font-weight:600;font-size:1.571rem;line-height:1.1;letter-spacing:0;color:#fff;margin:2.6rem 0}h6,.h6{font-family:montserrat,sans-serif;font-weight:600;font-size:1.285rem;line-height:1.3333;letter-spacing:0;color:#fff;margin:2.6rem 0}h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a{color:inherit}h1 a:hover,.h1 a:hover,h2 a:hover,.h2 a:hover,h3 a:hover,.h3 a:hover,h4 a:hover,.h4 a:hover,h5 a:hover,.h5 a:hover,h6 a:hover,.h6 a:hover{text-decoration:none}strong{font-weight:600}p,blockquote{margin-bottom:2.6rem}blockquote{font-size:1.714rem;letter-spacing:.025em;line-height:1.5;padding:0;width:80%;padding-left:6.8rem;border-left:.3rem solid #f3ca2f;margin-top:5rem;color:#fff}cite{display:block;color:#fff;font-weight:600;letter-spacing:0;font-style:normal}a{color:#ffeb00;-webkit-transition:color .3s ease-out;-o-transition:color .3s ease-out;transition:color .3s ease-out}a:hover{color:#ffeb00;outline:none}a:focus{text-decoration:none}input[type=text],input[type=address],input[type=url],input[type=password],input[type=email],input[type=search],input[type=tel],textarea{display:inline-block;width:100%;font-size:1rem;border-radius:.75em;color:#fff;background-color:#333;border:0;padding:.7rem 1rem;-webkit-box-shadow:0 0 25px rgba(0,0,0,.5);box-shadow:0 0 25px rgba(0,0,0,.5);-webkit-appearance:none;-webkit-transition:all .15s;-o-transition:all .15s;transition:all .15s}textarea{padding-top:.8rem;height:15rem;resize:none;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}input[type=text]:focus,input[type=address]:focus,input[type=url]:focus,input[type=password]:focus,input[type=email]:focus,input[type=search]:focus,input[type=tel]:focus,textarea:focus{border-color:#f3ca2f;outline:0;color:#fff}input::-moz-placeholder{color:#999;opacity:1}input:-ms-input-placeholder{color:#999}input::-webkit-input-placeholder{color:#999}textarea::-moz-placeholder{color:#999;opacity:1}textarea:-ms-input-placeholder{color:#999}textarea::-webkit-input-placeholder{color:#999}.form-group{margin-bottom:30px}label.error{color:#fff;margin:.8rem 0 0}.btn{color:#fff;letter-spacing:.025em;font-size:1rem;display:inline-block;border:0;border-radius:0;padding:1.1em 2.28em 1em;background-color:#000;text-decoration:none;-webkit-transition:all .3s ease-out!important;transition:all .3s ease-out!important}.btn:hover,.btn:focus{background-color:#f3ca2f;color:#fff;-webkit-box-shadow:none;box-shadow:none;outline:none!important}.icon{display:inline-block}.ion-ios-play{width:5rem;height:5rem;padding-left:.2rem;line-height:5rem;text-align:center;border:1px solid #fff;border-radius:50%;font-size:1.5rem;margin-right:1.5rem;margin-top:4rem;color:#fff;transition:all .3s ease-out}.ion-ios-play:hover{color:#ffeb00;border:1px solid #ffeb00}.animsition{position:absolute;z-index:100;left:0;width:100%;top:0;height:100%}.loader{position:fixed;overflow:hidden;z-index:101;left:0;top:0;width:100%;height:100%;background:#272727;color:#4b4b4b;text-align:center}.spinner{position:absolute;top:50%;left:50%;width:50px;height:50px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.double-bounce1,.double-bounce2{width:100%;height:100%;border-radius:50%;background-color:#f3ca2f;opacity:.6;position:absolute;top:0;left:0;-webkit-animation:sk-bounce 2s infinite ease-in-out;animation:sk-bounce 2s infinite ease-in-out}.double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes sk-bounce{0%,100%{-webkit-transform:scale(0);transform:scale(0);}50%{-webkit-transform:scale(1);transform:scale(1);}}@keyframes sk-bounce{0%,100%{-webkit-transform:scale(0);transform:scale(0);}50%{-webkit-transform:scale(1);transform:scale(1);}}.text-muted{color:#999!important}.text-white{color:#fff}.text-primary{color:#ffeb00!important}.masked{position:relative}.masked:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:.1}.navbar{position:absolute;display:block;z-index:10;left:0;top:0;width:100%;padding-top:2.7rem;height:7rem;color:#fff;margin:0;border-radius:0}.navbar .brand{float:left;-webkit-transition:none;-o-transition:none;transition:none}.brand{line-height:1.6;color:#fff;display:inline-block}a.brand:hover,a.brand:focus{text-decoration:none;color:#fff}.brand img{display:inline-block;vertical-align:middle;margin-right:.65rem}.brand-info{display:inline-block;vertical-align:middle}.brand-name{font-weight:600;font-size:1.714rem;line-height:1}.brand-text{font-size:.857rem;font-weight:300;margin-top:-.3rem}.navbar-toggle{float:right;display:block;margin:0;padding:0;border-radius:0;background:0 0;border:0;margin-top:.8rem}.navbar-toggle:focus{outline:none}.navbar-toggle .icon-bar{background-color:#fff;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}.navbar-toggle:hover .icon-bar{background-color:#f3ca2f}.navbar .social-list{float:right;margin-right:10%}.social-list{overflow:hidden}.social-list-bottom{display:none;position:absolute;z-index:10;right:0;bottom:2.4rem;color:#000}.social-list a{float:left;font-size:1.428rem;line-height:1;color:#fff;margin-left:2rem}.social-list a:first-child{margin-left:0}.social-list a:hover{color:#f3ca2f;text-decoration:none}.social-list .moquu_wxinh {
	position:absolute;
	display:none;
	left:-280px;
	top:-200px;
	width:100px;
	height:100px;
	background:url("/images/qrcode_20200717145135.jpg") no-repeat
}
.navbar-spacer{float:right;margin:-1rem 4.5rem 0;width:1px;height:3.3rem;background-color:#3c3c3c}.navbar-address{float:right;font-weight:600;text-transform:uppercase}.contacts{float:left;margin-left:9rem;margin-top:.5rem}.contacts .contact-item{display:inline-block;color:#fff;margin-right:2rem}.contacts .contact-item a{color:#fff}.contacts .contact-item.spacer{opacity:.3}.contact-address{margin-top:5rem}.contact-address .mail{text-decoration:underline}#success,#error{display:none}.form-group-message{display:none}.click-capture{position:fixed;top:0;left:0;width:100%;height:100%;visibility:hidden;z-index:99;opacity:0;background:rgba(0,0,0,.3);transition:opacity .5s}.menu{position:fixed;top:0;bottom:0;right:0;width:100%;z-index:101;background-color:#272727;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all .6s ease;-o-transition:all .6s ease;transition:all .6s ease}.close-menu{position:absolute;z-index:2;top:2.3rem;font-size:1.6rem;line-height:1;color:#fff;cursor:pointer;margin-top:.8rem;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.close-menu:hover{color:#f3ca2f}.menu .menu-lang{opacity:0;position:absolute;left:15%;top:3rem;text-transform:uppercase;-webkit-transform:translateY(3rem);-ms-transform:translateY(3rem);-o-transform:translateY(3rem);transform:translateY(3rem);-webkit-transition:transform .5s .4s ease,opacity .5s .4s ease,color .3s ease;-o-transition:transform .5s .4s ease,opacity .5s .4s ease,color .3s ease;transition:transform .5s .4s ease,opacity .5s .4s ease,color .3s ease}.menu-lang a{display:inline-block;margin-left:1.5rem;color:#7e7e7e}.menu-lang a:first-child{margin-left:0}.menu-lang .active,.menu-lang a:hover{color:#f3ca2f;text-decoration:none}.menu-list{opacity:0;position:absolute;left:0;top:5rem;bottom:10.5rem;padding-left:15%;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;font-weight:600;letter-spacing:-.025rem;list-style:none;margin:0;-webkit-transform:translateY(3rem);-ms-transform:translateY(3rem);-o-transform:translateY(3rem);transform:translateY(3rem);-webkit-transition:transform .5s .6s ease,opacity .5s .6s ease;-o-transition:transform .5s .6s ease,opacity .5s .6s ease;transition:transform .5s .6s ease,opacity .5s .6s ease}.menu-list li a{color:#999}.menu-list .active>a,.menu-list li a:hover{text-decoration:none;color:#fff}.menu-list>li{font-size:1.65rem;line-height:1}.menu-list>li{margin-top:2.7rem}.menu-list>li:first-child{margin-top:0}.menu-list ul{display:none;list-style:none;padding:0;margin:0}.menu-list ul li{font-size:1.142rem;margin-top:1.142rem}.menu-list ul li:first-child{margin-top:2.4rem}.menu-footer{position:absolute;left:15%;bottom:4rem}.menu-footer .social-list{opacity:0;-webkit-transform:translateY(3rem);-ms-transform:translateY(3rem);-o-transform:translateY(3rem);transform:translateY(3rem);-webkit-transition:all .5s .7s ease;-o-transition:all .5s .7s ease;transition:all .5s .7s ease}.menu-footer .social-list a{color:#7e7e7e;margin:0;margin-right:2.7rem}.menu-footer .social-list a:last-child{margin-right:0}.menu-footer .social-list a:hover{color:#f3ca2f}.menu-footer .copy{opacity:0;display:none;margin-top:3.2rem;color:#fff;line-height:1.71rem;-webkit-transform:translateY(2rem);-ms-transform:translateY(2rem);-o-transform:translateY(2rem);transform:translateY(2rem);-webkit-transition:all .5s .9s ease;-o-transition:all .5s .9s ease;transition:all .5s .9s ease}.menu-is-opened .click-capture{visibility:visible;opacity:1}.menu-is-opened .menu{-webkit-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);box-shadow:0 0 25px rgba(0,0,0,.07)}.menu-is-opened .menu .menu-lang,.menu-is-opened .menu-list,.menu-is-opened .menu .menu-footer .social-list,.menu-is-opened .menu .menu-footer .copy{-webkit-transform:translate(0);-ms-transform:translate(0);-o-transform:translate(0);transform:translate(0);opacity:1}.menu-is-closed .menu .menu-lang,.menu-is-closed .menu .menu-list,.menu-is-closed .menu .menu-footer .social-list,.menu-is-closed .menu .menu-footer .copy{opacity:0;-webkit-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s}.boxed{padding-left:1.7rem;padding-right:1.7rem}.left-boxed{left:1.7rem}.right-boxed{right:1.7rem}.copy-bottom{display:none;position:absolute;z-index:10;left:0;bottom:2.4rem;color:#000}.portfolio .portfolio-item {margin-bottom: 30px;}.portfolio #portfolio-flters {padding: 0;margin: 0 auto 20px auto;list-style: none;text-align: center;}.portfolio #portfolio-flters li{cursor: pointer;display: inline-block;padding: 8px 15px 10px 15px;font-size: 14px;font-weight: 400;line-height: 1;text-transform: uppercase;color: #444444;margin-bottom: 5px;transition: all 0.3s ease-in-out;border-radius: 4px;}.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {color: #fff;background: #138496;}.portfolio #portfolio-flters li:last-child {margin-right: 0;}.portfolio .portfolio-wrap {transition: 0.3s;position: relative;overflow: hidden;z-index: 1;background: rgba(45, 64, 95, 0.6);}.portfolio .portfolio-wrap::before {content: "";background: rgba(45, 64, 95, 0.6);position: absolute;left: 0;right: 0;top: 0;bottom: 0;transition: all ease-in-out 0.3s;z-index: 2;opacity: 0;}.portfolio .portfolio-wrap img {transition: all ease-in-out 0.3s;}.portfolio .portfolio-wrap .portfolio-info {opacity: 0;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 3;transition: all ease-in-out 0.3s;display: flex;flex-direction: column;justify-content: flex-end;align-items: flex-start;padding: 20px;}.portfolio .portfolio-wrap .portfolio-info h4 {font-size: 20px;color: #fff;font-weight: 600;}.portfolio .portfolio-wrap .portfolio-info p {color: rgba(255, 255, 255, 0.7);font-size: 14px;text-transform: uppercase;padding: 0;margin: 0;font-style: italic;}.portfolio .portfolio-wrap .portfolio-links {text-align: center;z-index: 4;}.portfolio .portfolio-wrap .portfolio-links a {color: #fff;margin: 0 5px 0 0;font-size: 28px;display: inline-block;transition: 0.3s;}.portfolio .portfolio-wrap .portfolio-links a:hover {color: #9da7fc;}.portfolio .portfolio-wrap:hover::before {opacity: 1;}.portfolio .portfolio-wrap:hover img {transform: scale(1.2);}.portfolio .portfolio-wrap:hover .portfolio-info {opacity: 1;}.copy-bottom.white{color:#fff}#pp-nav,#ppp-nav{z-index:100;width:2.1428rem;margin-top:0!important;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}#ppp-nav .pp-nav-up,#ppp-nav .pp-nav-down,#ppp-nav .pp-nav-up,#ppp-nav .pp-nav-down{display:none;font-size:2.1428rem;cursor:pointer;color:#000;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}#pp-nav .pp-nav-up,#ppp-nav .pp-nav-up{margin-bottom:3.5rem}#pp-nav .pp-nav-down,#ppp-nav .pp-nav-down{margin-top:3.5rem}#ppp-nav li,.pp-slidesNav li,#ppp-nav li,.pp-slidesNav li{margin:1.928rem auto;width:10px;height:10px}#pp-nav span,.pp-slidesNav span,#ppp-nav span,.pp-slidesNav span{left:0;top:0;cursor:pointer;width:9px;height:9px;background:#000;border:0;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}#pp-nav .pp-nav-up:hover,#pp-nav .pp-nav-down:hover,#pp-nav.white .pp-nav-up:hover,#pp-nav.white .pp-nav-down:hover,#ppp-nav .pp-nav-up:hover,#ppp-nav .pp-nav-down:hover,#ppp-nav.white .pp-nav-up:hover,#ppp-nav.white .pp-nav-down:hover{color:#ffeb00}#pp-nav.white .pp-nav-up,#pp-nav.white .pp-nav-down,#ppp-nav.white .pp-nav-up,#ppp-nav.white .pp-nav-down{color:#fff}#pp-nav.white span,.pp-slidesNav span,#ppp-nav.white span,.pp-slidesNav span{background:#fff}#pp-nav li .active span,.pp-slidesNav .active span,#pp-nav span:hover,.pp-slidesNav span:hover,#pp-nav li .active span,.pp-slidesNav .active span,#ppp-nav span:hover,.pp-slidesNav span:hover{background:#ffeb00}#pp-nav li .active span,.pp-slidesNav .active span,#ppp-nav li .active span,.pp-slidesNav .active span{transform:scale(1.5)}.pagepiling .section{background-image:url("../images/bg/bgb.png");padding-top:10.3rem;padding-bottom:6rem}.pagepiling .pp-scrollable{padding:0;overflow-x:hidden}.pp-scrollable .vertical-centred{padding-top:10.3rem;padding-bottom:6rem}.scroll-wrap{position:relative;min-height:100%}.scrollable-content{white-space:nowrap;width:100%;font-size:0}.scrollable-content:before{content:'';display:inline-block;height:100vh;vertical-align:middle}.scrollable1-content{white-space:nowrap;width:100%;font-size:0}.vertical-centred{width:100%;height:100%;display:inline-block;vertical-align:middle;white-space:normal;font-size:1rem}.boxed-inner{position:relative;padding:0}.section-bg{position:absolute;left:0;top:0;width:100%;height:100%;background-size:cover;background-position:center}.vertical-title{display:none!important;position:absolute;white-space:nowrap;width:0;top:-.55rem;left:4.9rem;font-weight:600;text-transform:uppercase;letter-spacing:.1em;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}.vertical-title span{display:block;float:right}.section .intro{opacity:0;-webkit-transition:opacity 1s .3s ease;-o-transition:opacity 1s .3s ease;transition:opacity 1s .3s ease}.section .intro{-webkit-transform:translateY(7rem);-ms-transform:translateY(7rem);-o-transform:translateY(7rem);transform:translateY(7rem);-webkit-transition:all .35s .6s ease;-o-transition:all .35s .6s ease;transition:all .35s .6s ease}.breadcrumb > li + li:before {color: #CCCCCC; content: "/ "; padding: 0 5px; float: left;}.section.active .intro{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}.subtitle-top{line-height:1.714;margin-top:0;margin-bottom:2.8rem;letter-spacing:.1em}.title-uppercase{text-transform:uppercase;letter-spacing:-.025em;line-height:1.33333;margin:0 -6rem 3rem}.display-1{font-size:4.28rem;line-height:1;letter-spacing:-.05em;margin:0}.display-2{font-size:5.14rem;font-weight:600;line-height:1;letter-spacing:-.05em;margin:0;text-transform:uppercase}.popup-youtube{color:#fff}.popup-youtube:hover{text-decoration:none}.icon-specialization{font-size:5rem;color:#fff}.row-specialization{margin:0 -2rem}.col-specialization{padding:0 2rem}.section-3 .vertical-centred{padding-top:6rem}.resume-title{position:relative;color:#fff;margin:0 0 2rem}.resume-header{position:relative;z-index:2;top:4.4rem;padding:0 3.6rem;transition:all .5s}.resume-row{position:relative;padding-bottom:2.2rem;margin-bottom:2.2rem;border-bottom:1px solid #fff;transition:all .5s}.resume-row:last-child{padding-bottom:0;margin-bottom:0;border:0}.col-resume{position:relative;top:0;padding:2.2rem 3.6rem 3.6rem;background:rgba(255,255,255,.1);transition:background .5s,top .5s}.col-resume:hover{background:#ffeb00;color:#000}.col-resume:hover .title-uppercase,.col-resume:hover .resume-type{color:#000}.col-resume:hover .resume-row{border-bottom-color:#000}.resume-type{font-family:montserrat,sans-serif;text-transform:uppercase;letter-spacing:.2rem;font-weight:500;position:relative;font-size:1.125rem;margin-bottom:1.2rem;transition:all .5s}.resume-study{margin-bottom:1rem}.resume-date{font-size:.9rem;margin-bottom:2rem}.resume-text{margin-top:1.2rem;margin-bottom:0}.resume-text.last{margin-bottom:0}.experience-box{display:inline-block;font-weight:300;position:relative;white-space:nowrap;padding:3.75rem;border:1px solid #fff}.experience-border{position:absolute;display:inline-block;vertical-align:middle;width:20.15rem;height:41.15rem;border:.657rem solid #ffeb00;left:5rem;top:-2rem}.experience-content{display:inline-block;vertical-align:middle;position:relative}.experience-number{font-family:montserrat,sans-serif;font-size:23.142rem;line-height:1;font-weight:400;color:#fff}.experience-info{position:relative;font-size:1.25rem;line-height:1.481;color:#fff;text-align:right}@media(min-width:576px){.experience-info{margin-top:-1px}}.experience-info div{display:inline-block;position:relative}.experience-info div:after{position:absolute;right:100%;content:'';width:5rem;bottom:.8rem;height:1px;background:#fff}.progress-bars{margin-top:4rem}.progress{height:2.9rem;margin-bottom:2rem;border-radius:0;background:#222}.progress:last-child{margin-bottom:0}.progress-bar{background-color:#ffeb00}.progress-bars .number{color:#fff;margin-bottom:1rem}.bg-changer{position:absolute;left:0;width:100%;height:100%;overflow:hidden}.bg-changer .section-bg{opacity:0;will-change:opacity,transform;-webkit-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:opacity .5s .2s ease,transform 5s .2s ease;-o-transition:opacity .5s .2s ease,transform 5s .2s ease;transition:opacity .5s .2s ease,transform 5s .2s ease}.section-bg.mask:after{content:'';width:100%;height:100%;position:absolute;background:rgba(0,0,0,.4);transition:all .5s}.section-bg.mask.hide:after{opacity:0}.bg-changer .active{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}.bg-changer .section-bg:first-child{opacity:1}.project-row{position:relative;margin-bottom:3rem}.view-all,.project-row{padding-left:3rem}.project-row:last-child{margin-bottom:0}.project-number{position:absolute;left:0;top:1rem;font-size:1.25rem}.project-row a{display:block;opacity:.5;text-decoration:none;color:#fff;transition:opacity .3s}.project-row a:after,.project-row a.active:after{content:'';opacity:0;position:absolute;top:2.2rem;margin-left:-4rem;height:1px;background:#fff;width:100000px;transition:opacity .3s}.project-row a:hover:after,.project-row a.active:after{opacity:1}.project-row a.active{opacity:1}.project-title{font-size:3.68rem;font-weight:400;margin:0}.project-category{font-size:1rem}.view-all{position:relative;color:#fff;font-family:montserrat,sans-serif;font-size:1.56rem}.view-all a{color:#fff;position:relative}.view-all a:before{content:'';position:absolute;right:100%;top:1rem;background:#fff;height:1px;width:1000000px;margin-right:2rem}.view-all a:hover{color:#ffeb00;text-decoration:none}@media(min-width:768px){.view-all,.project-row{padding-left:20%}.project-title{font-size:4.68rem}.project-row a:after,.project-row a.active:after{top:3rem}.project-number{top:1.7rem}}.row-partners{margin:0 -5rem}.col-partner{padding:0 5rem;margin-top:5rem;text-align:center}.col-partner img{margin:0 auto;max-width:100%;opacity:.4}.col-partner:hover img{opacity:1;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s}.bg-quote{position:absolute;right:12%;top:20%}.bg-quote:before{position:absolute;content:'';right:0;top:0;width:138px;height:276px;background:url(../images/bg/quote.png) no-repeat}.bg-quote:after{position:absolute;content:'';right:138px;width:138px;height:276px;margin-right:5.75rem;background:url(../images/bg/quote.png) no-repeat}.review-row{position:relative;padding-top:3rem;padding-bottom:5rem}.review-row:before{content:'';position:absolute;top:0;left:0;width:100000px;height:1px;background:#fff}.review-carousel .text{font-weight:300;font-size:1.275rem;line-height:1.675;margin:0}.review-carousel .text p{margin:0}.author-name{font-family:montserrat,sans-serif;font-size:1.125rem;text-transform:uppercase;line-height:1.333;font-weight:600;margin-bottom:.5rem}.review-carousel .owl-nav{position:relative;top:0;margin-top:7.7vh;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none}.review-carousel .owl-prev,.review-carousel .owl-next{font-size:1.2857rem;width:3.57rem;height:3.57rem;line-height:3.57rem;border:1px solid #fff;color:#fff;text-align:center;margin-right:.857rem}.review-carousel .owl-prev:before{font-family:linearicons;content:"\e93b"}.review-carousel .owl-next:before{font-family:linearicons;content:"\e93c"}.review-carousel .owl-prev:hover,.review-carousel .owl-next:hover{background:#fff;color:#000}.review-carousel .owl-prev.disabled,.review-carousel .owl-next.disabled{cursor:default}.review-carousel .owl-prev.disabled:hover,.review-carousel .owl-next.disabled:hover{background:0 0;color:#fff}.owl-dots{text-align:center}.owl-dot{display:inline-block}.owl-dot span{display:block;width:9px;height:9px;background:#fff;position:relative;margin:0 10px;border-radius:50%}.owl-dot.active span{background:#ffeb00;transform:scale(1.4)}.content{padding-top:17rem}.row-project{margin-bottom:10rem}.image-holder{display:block;margin:12rem auto 7rem;max-width:100%}.social-list-detail{margin-top:10rem}.social-list-detail a{font-size:2rem;color:#999}.social-list-detail a:hover{color:#fff}.col-project-name h1{margin-top:0}.col-project-info p{margin-bottom:0}.col-project-info h5{margin-top:0;margin-bottom:1.2rem}.project-detail-text{color:#fff;font-size:1.2rem;margin-bottom:5rem}@media(min-width:576px){.menu{width:50%}}@media(min-width:768px){html{font-size:13px}.menu{width:50%}.boxed{padding-left:3rem;padding-right:3rem}.boxed-inner{padding-left:0}.right-boxed{right:3rem}.left-boxed{left:3rem}.section-about{padding-top:12rem}.owl-dots{text-align:left;padding-left:calc(41% + 15px)}}@media(min-width:992px){html{font-size:14px}.menu{width:35%;max-width:35rem}.boxed{padding-left:4.2857rem;padding-right:4.2857rem}.right-boxed{right:4.2857rem}.left-boxed{left:4.2857rem}}@media(min-height:500px){#pp-nav .pp-nav-up,#pp-nav .pp-nav-down{display:block}}@media(min-height:600px){.menu .menu-lang{top:7rem}.menu-list{top:9rem;bottom:20rem}.menu-list>li{font-size:1.7rem}.menu-footer{bottom:6rem}.menu-footer .copy{display:block}}@media(min-height:700px){.copy-bottom{display:block}.social-list-bottom{display:block}}